<%- include("template/cabecera") %>
<%- include("template/navegador") %>
  
    <section class="tm-welcome-section">
      <div class="container tm-position-relative">
        <div class="tm-lights-container">
          <img src="img/light.png" alt="Light" class="light light-1">
          <img src="img/light.png" alt="Light" class="light light-2">
          <img src="img/light.png" alt="Light" class="light light-3">
        </div>
        <div id="acercaden"class="row tm-welcome-content">
          <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="img/header-line.png" alt="Line"
              class="tm-header-line">&nbsp;Bienvenidos a&nbsp;&nbsp;<img src="img/header-line.png" alt="Line"
              class="tm-header-line"></h2>
          <h2 class="gold-text tm-welcome-header-2">Cup Brown</h2>
          <p class="gray-text tm-welcome-description"> Buscamos brindar un buen momento con amigos o familia acompañado
            de un cafe . Disfruta de nuestros deliciosos postres y bebidas, Contamos con todas las medidas de seguridad
            anti COVID-19</p>
          <a href="#main" class="tm-more-button tm-more-button-welcome">Detalles</a>
        </div>
        <img src="img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
      </div>
    </section>
    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        <section class="tm-section row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="tm-section-header gold-text tm-handwriting-font">El mejor café para tí</h2>
            <h2>Cup Brown</h2>
            <p class="tm-welcome-description"> <span class="blue-text"></span><span class="green-text"></span>El café es
              la segunda bebida más consumida en el ámbito mundial, precedida únicamente por el agua. Estadísticas de
              consumo muestran que los amantes de esta bebida ingieren alrededor de 800 billones de tazas cada año y
              que, en general, las personas que gustan del café beben entre 2 y 4 tazas al día.</p>
            <a href="#" class="tm-more-button margin-top-30">Leer Más</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
            <div class="inline-block shadow-img">
              <img src="img/1.jpg" alt="Image" class="img-circle img-thumbnail">
            </div>
          </div>
        </section>
        <section class="tm-section tm-section-margin-bottom-0 row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo"
                class="tm-site-logo"> Lo más Vendido</h2>
            <div class="tm-hr-container">
              <hr class="tm-hr">
            </div>
          </div>
          <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
              <img src="img/popular-1.jpg" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span
                    class="tm-handwriting-font bigger-first-letter">a</span>mericano</h3>
                <hr class="tm-popular-item-hr">
                <p>Un americano es una especie de expreso largo con más agua.</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Ordenar</a>
                </div>
              </div>
            </div>
            <div class="tm-popular-item">
              <img src="img/popular-2.jpg" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span
                    class="tm-handwriting-font bigger-first-letter">c</span>appuccino</h3>
                <hr class="tm-popular-item-hr">
                <p>Café al que se le añade leche hervida caliente y muy espumosa.</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Ordenar</a>
                </div>
              </div>
            </div>
            <div class="tm-popular-item">
              <img src="img/popular-3.jpg" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span
                    class="tm-handwriting-font bigger-first-letter">m</span>ocha</h3>
                <hr class="tm-popular-item-hr">
                <p>Suele llevar un tercio de expreso y dos tercios de leche vaporizada.</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Ordenar</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="tm-section row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo"
                class="tm-site-logo"> Especialidades de Hoy</h2>
            <div class="tm-hr-container">
              <hr class="tm-hr">
            </div>
          </div>
          <div class="col-lg-12 tm-special-container margin-top-60">
            <div class="tm-special-container-left">
              <!-- left -->
              <div class="tm-special-item">
                <div class="tm-special-img-container">
                  <img src="img/special-1.jpg" alt="Special" class="tm-special-img img-responsive">
                  <a href="#">
                    <div class="tm-special-description">
                      <h3 class="tm-special-title">Capuccino Personalizado</h3>
                      <p>Plasma tu propia figura en tu café.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tm-special-container-right">
              <!-- right -->
              <div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-2.jpg" alt="Special" class="img-responsive">
                    <a href="#">
                      <div class="tm-special-description">
                        <h3 class="tm-special-title">Tartas</h3>
                        <p>Prueba nuestras deliciosas tartas de queso o frutas.</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tm-special-container-lower">
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-3.jpg" alt="Special" class="img-responsive">
                    <a href="#">
                      <div class="tm-special-description">
                        <p>Bebidas Naturales</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-4.jpg" alt="Special" class="img-responsive">
                    <a href="#">
                      <div class="tm-special-description">
                        <p>Ensaladas.</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="tm-section">
          <div class="row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo"
                  class="tm-site-logo"> Menú de Hoy</h2>
              <div class="tm-hr-container">
                <hr class="tm-hr">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="tm-daily-menu-container margin-top-60">
              <div class="col-lg-4 col-md-4">
                <img src="img/menu-board.png" alt="Menu board" class="tm-daily-menu-img">
              </div>
              <div class="col-lg-8 col-md-8">
                <p>Ordena tus gustos y antojos para tí o tu familia. Disfruta de un único sabor, preprarado con amor y
                  los mejores ingredientes y cosechas frescas para satisfacer tu paladar hasta la puerta de tu casa.</p>
                <ol class="margin-top-30">
                  <li>Hamburguesas.</li>
                  <li>Tartas.</li>
                  <li>Crepe's.</li>
                  <li>Gaseosas.</li>
                  <li>Nachos.</li>
                  <li>Tacos.</li>
                  <li>Papas.</li>
                  <li>Bebidas Calientes y frías.</li>
                  <li>Paninis.</li>
                </ol>
                <a href="#" class="tm-more-button margin-top-30">Leer más</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include("template/footer") %>